body {
  padding: 40px;
  background-color:powderblue;
  font-family: 'Courier New', Courier, monospace;
}

.a {
  color: orange;
}

.aa {
  font-weight: bold;
}

.b {
  color: purple;
}

#tv-show {
  color:aqua;
}

#list-title {
  color: red;
}

table, th, td {
  border: thick solid #FF5733

}

li {
  list-style-type: square;
}

th {
  height: 70px;
  width: 50px;
}


.flex-example {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  background-color: black;
  padding: 40px;
  margin: 20px;
  align-items: center;

}

div.flex-child {
  background-color: #FF5733;
  flex: 1;
}

#gallery {
  background-color: antiquewhite;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.image {
  border-color: black;
  border: 5px solid black;
}
/* 
.gallery img {
  
} */

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url('../pic3.jpg') !important;
  min-height: 75%;
}